.collectives-bg-scheme {
  .is-selected {
    font-weight: bold;
  }
}

.scheme-icons {
	display: flex;
	flex-direction: column;
}

.scheme-icons .scheme-icon {

	border-radius: 0 !important;
	width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
	background: var(--secondary);

}