.collectives-bg-scheme {
  .is-selected {
    font-weight: bold;
  }
}

.scheme-icons {
	display: flex;
	flex-direction: column;
}

.scheme-icons .scheme-icon {

	border-radius: 0 !important;
	width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
	background: var(--secondary);

}

button, div {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* You can do the same for links */
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.d-header-icons .header-dropdown-toggle.header-color-scheme-toggle {
    display: none;
}